.hm-body {
    background-image: url('../images/garden_renge.jpg');
    /* background-size: cover; */
    
    font-family: 'Kaushan Script', cursive;
    background-size: 100%;
 
}

body a {
    text-decoration: none;
}

.main-wrapper {
    background-color: rgba(0,0,0,0);
    position: absolute;
    color: white;
    top: 45%;
    left: 33%;
    border-width: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
}

#title {
    font-size: 80px;
    color: white;
}

#subTitle {
    font-size: 25px;
    color: white;
}

.main-wrapper h1 {
    font-size: 45px;
}


/* game.html here */

.game-body {
    background: url('../images/FUGOKU.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    font-family: 'Kaushan Script', cursive;
}

.time {
    margin: 15px;
    font-size: 45px;
    text-align: center;
}

.main-content {
    flex-direction: column;
}

.inner-wrapper {
    background-color: rgb(225, 239, 248);
    width: 60%;
    height: 400px;
    margin: 30px auto;
    padding: 20px;
}

img {
    width: 30%;
    height: 250px;
    
}

.question {
    text-align: left;
    font-size: 30px;
}

.answer {
    margin: 30px;
    text-align: left;
    font-size: 30px;
}

#the-answer-wrapper p {
    font-size: 45px;
    text-align: left;
}
